@if (_isOpen)
{
    <div class="modal" tabindex="-1" role="dialog" id="addCountryModal" style="display: block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Country</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="CloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body my-3">
                    <form @onsubmit="HandleSubmit">
                        <div class="form-group">
                            <label for="inputCountryName">Country Name</label>
                            <input type="text" class="form-control" id="inputCountryName" placeholder="Enter country name" @bind="_countryName" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-5">Add Country</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCountryModal" @onclick="OpenModal">
    Add new Country
</button>