@page "/authors"
@attribute [Authorize(Roles = "Worker,Admin")]

<div class="container mt-4">
    @if (_isLoading)
    {
        <div class="col-md-12">
            <h3 class="text-center">Loading...</h3>
        </div>
    }
    else
    {
        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-auto">
                <h2>Authors</h2>
            </div>
            <div class="col-auto">
                <AuthorModal OnAuthorAdded="AddAuthor" />
            </div>
        </div>
        <RadzenGrid TItem="AuthorResponseDto" Data="@_authors" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
            AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
            ShowPagingSummary="true">
            <Columns>
                <RadzenGridColumn TItem="AuthorResponseDto" Property="Id" Title="Id"></RadzenGridColumn>
                <RadzenGridColumn TItem="AuthorResponseDto" Property="Name" Title="Name"></RadzenGridColumn>
                <RadzenGridColumn TItem="AuthorResponseDto" Property="Surname" Title="Surname"></RadzenGridColumn>
                <RadzenGridColumn TItem="AuthorResponseDto" Title="Actions">
                    <Template Context="author">
                        <div class="btn-group">
                            <AuthorModal IsEdited="true" AuthorToEdit="author" OnAuthorEdited="EditAuthor" />
                            <button class="btn btn-danger" @onclick="() => DeleteAuthor(author)">Delete</button>
                        </div>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    }
</div>