@page "/books"

<div class="row d-flex justify-content-center">
    @if (IsLoading)
    {
        <div class="col-md-12">
            <h3 class="text-center">Loading...</h3>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-2 sidebar pe-3 ps-4 pt-3 shadow">
                    <div>
                        <h5>Search</h5>
                        <input type="text" class="form-control mb-2" placeholder="Search..." />
                        <button @onclick="Filter" class="btn btn-primary mb-4">Search</button>

                        <h5>Filter Settings</h5>
                        <DropdownPicker Placeholder="Select Genre" Values="@SelectedGenresIds" ItemsList="GenresList.Select(dto => new DropdownPicker.ItemList {Id = dto.Id, Name = dto.Name }).ToList()" SelectedValuesChanged="HandleSelectedGenresChanged"/>
                        <DropdownPicker Placeholder="Select Language" Values="@SelectedLanguagesIds" ItemsList="LanguagesList.Select(l => new DropdownPicker.ItemList{ Id = l.Id, Name = l.LanguageName})" SelectedValuesChanged="HandleSelectedLanguagesChanged"/>
                        <button @onclick="Filter" class="btn btn-primary">Apply Filters</button>
                    </div>
                </div>

                <!-- Book List -->
                <div class="row justify-content-center col-md-10">
                    <BookListing BooksList="BooksList"/>
                </div>
            </div>
        </div>
    }
</div>