@page "/countries"

<div class="container mt-4">
    @if (_isLoading)
    {
        <div class="col-md-12">
            <h3 class="text-center">Loading...</h3>
        </div>
    }
    else
    {
        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-auto">
                <h2>Countries</h2>
            </div>
            <div class="col-auto">
                <CountryModal OnCountryAdded="AddCountry"/>
            </div>
        </div>
        <RadzenGrid TItem="CountryResponseDto" Data="@_countries" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
            <Columns>
                <RadzenGridColumn TItem="CountryResponseDto" Property="Id" Title="Id"></RadzenGridColumn>
                <RadzenGridColumn TItem="CountryResponseDto" Property="Name" Title="Name"></RadzenGridColumn>
                <RadzenGridColumn TItem="CountryResponseDto">
                    <Template Context="country">
                        <div class="btn-group">
                            <CountryModal IsEdited="true" CountryToEdit="country"/>
                            <button class="btn btn-danger" @onclick="() => DeleteCountry(country)">Delete</button>
                        </div>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    }
</div>