@using Library.Blazor.Components.Comps
@page "/books"

<div class="row d-flex justify-content-center">
    @if (IsLoading)
    {
        <div class="col-md-12">
            <h3 class="text-center">Loading...</h3>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-2 sidebar pe-3 ps-4 pt-3 shadow">
                    <div>
                        <!-- Add your filter settings here -->
                        <h5>Filter Settings</h5>
                        <GenrePicker GenresList="@GenresList" Values="@SelectedGenresIds" SelectedGenresChanged="HandleSelectedGenresChanged" />
                        <!-- Add your filter controls, e.g., dropdowns, checkboxes, etc. -->
                        <!-- Add a search input -->
                        <input type="text" class="form-control mb-2" placeholder="Search..."/>
                        <button @onclick="Test" class="btn btn-primary">Apply Filters</button>
                    </div>
                </div>

                <!-- Book List -->
                <div class="row justify-content-center col-md-10">
                    <BookListing BooksList="BooksList"/>
                </div>
            </div>
        </div>
    }
</div>